<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>

<h1>Hello World</h1>

<p>Daniel Garcia Moreno</p>

<h2>Functions</h2>

<ul>
  <li><a th:href="@{/palindromeform}">Palindrome</a></li>
  <li><a th:href="@{/evenform}">Even number</a></li>
  <li><a th:href="@{/squareform}">Square</a></li>
  <li><a th:href="@{/calculatorform}">Calculator</a></li>
  <li><a th:href="@{/primeform}">Prime number</a></li>
</ul>

</body>
</html>