<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prime Form</title>
</head>
<body>

<h2>Check prime number</h2>

<form th:action="@{/primeform}" th:object="${primeData}" method="post">

    <label>Number:</label>
    <input type="number" th:field="*{number}" />
    <br>

    <div th:if="${#fields.hasErrors('number')}"
         th:errors="*{number}"
         style="color:red">
    </div>

    <button type="submit">Check</button>

</form>

<a th:href="@{/}">Back to home</a>

</body>
</html>