<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Square Form</title>
</head>
<body>

<h2>Check square</h2>

<form th:action="@{/squareform}" th:object="${squareData}" method="post">

    <label>First number:</label>
    <input type="number" th:field="*{first}" />
    <br>
    <div th:if="${#fields.hasErrors('first')}"
         th:errors="*{first}"
         style="color:red">
    </div>

    <label>Second number:</label>
    <input type="number" th:field="*{second}" />
    <br>
    <div th:if="${#fields.hasErrors('second')}"
         th:errors="*{second}"
         style="color:red">
    </div>

    <button type="submit">Check</button>

</form>

<a th:href="@{/}">Back to home</a>

</body>
</html>